<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/addEmployee" th:object="${employee}">

    <table>
        <tr>
            <td>Employee ID: </td>
            <td><input th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>Employee's name:</td>
            <td><input th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Contact's number:</td>
            <td><input th:field="*{contactNumber}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>

</body>
</html>